@foreach (var error in @ViewBag.Errors)
{
    <p>@error</p>
}
<div class='col-md-6'>
    <h2>Login</h2>
    <form asp-controller="User" asp-action="HandleLogin" method='post'>
        <div class='form-group'>
            <label for='Email'>Email: </label>
            <input type='text' name="Email">
        </div>
        <div class='form-group'>
            <label for='PasswordToCheck'>Password: </label>
            <input type='password' name="PasswordToCheck">
        </div>
        <button class='btn btn-default' type='submit'>Login!</button>
    </form>
<a href="/login">Register as a lender?</a>
<a href="/borrower">Register as a borrower!</a>
</div>